In [1]:
import warnings
warnings.simplefilter('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
# pickle is used to save the model create by us

In [3]:
df= pd.read_csv("soildata.csv")
df.head()

   Nitrogen  Phosphorous  potassium  organiccarbon        pH  temp  yield
0       530           41        284       0.366484  7.643970    29   2446
1       398           49        257       0.623520  6.901007    29   1723
2       437           51        280       0.453510  8.685793    35   2305
3       515           38        241       0.553835  8.466538    14   1476
4       330           51        277       0.674652  8.262446    16   2213

In [6]:
#if we have empty value then fill it with mean
#df['column_name'].fillna(0,inplace=True)
#df['column_name'].fillna(df['coumname'].mean(),inplace=True)

In [4]:
X=df.iloc[:,:-1]

In [5]:
X.head()

   Nitrogen  Phosphorous  potassium  organiccarbon        pH  temp
0       530           41        284       0.366484  7.643970    29
1       398           49        257       0.623520  6.901007    29
2       437           51        280       0.453510  8.685793    35
3       515           38        241       0.553835  8.466538    14
4       330           51        277       0.674652  8.262446    16

In [6]:
X.shape

(1000, 6)

In [11]:
#convert the value text to int
#def conv(x):
#    dict = {'two':2,'three':3,0:0}
#    return dict[x]
#X['columname']=X['coumnname'].apply(lambda x: conv(x))

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nitrogen       1000 non-null   int64
 1   Phosphorous    1000 non-null   int64
 2   potassium      1000 non-null   int64
 3   organiccarbon  1000 non-null   float64
 4   pH             1000 non-null   float64
 5   temp           1000 non-null   int64
dtypes: float64(2), int64(4)
memory usage: 47.0 KB

__X is ready__

In [8]:
y = df.iloc[:,-1]
y

0      2446
1      1723
2      2305
3      1476
4      2213
       ...
995    1106
996    1283
997    1548
998    1902
999    1897
Name: yield, Length: 1000, dtype: int64

In [11]:
#df.Output.replace({"Fertile":0,"Non Fertile":1}, inplace = True)

In [12]:
#Y=df['Output']
#Y

In [9]:
#Modeling
#import numpy as np
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [10]:
# Fit the model
lr.fit(X,y)

LinearRegression()

In [11]:
# Prediction Phase
y_pred=lr.predict(X)
y_pred

array([1786.5853596 , 1766.26315787, 1744.02955143, 1787.14176976,
       1724.37321114, 1728.51039984, 1771.40067323, 1771.61461086,
       1743.0811644 , 1731.67404333, 1772.84339427, 1763.24473489,
       1792.77967811, 1733.9903567 , 1790.72258137, 1718.89513157,
       1791.51054541, 1768.24541293, 1772.26010028, 1741.87972389,
       1761.97238746, 1750.17102056, 1796.55454597, 1772.28000467,
       1764.43570318, 1754.21023187, 1775.35027466, 1776.4757843 ,
       1803.64530175, 1768.27673217, 1761.03926097, 1744.75526816,
       1766.19900464, 1771.92873116, 1726.44537083, 1742.96113723,
       1800.79451965, 1771.07395325, 1764.48794762, 1731.77172538,
       1737.87590334, 1757.21919951, 1780.6681521 , 1767.68772014,
       1765.32695081, 1768.44316665, 1771.81069033, 1796.33414109,
       1774.75398349, 1757.83551362, 1765.36384467, 1750.69373238,
       1781.01191893, 1774.44584826, 1731.27411687, 1764.74175402,
       1762.81388443, 1731.16541315, 1749.41697583, 1761.85887759,
       1748.51362294, 1768.00599941, 1743.47450207, 1797.91858928,
       1778.15778157, 1783.84825601, 1759.20683698, 1793.94975318,
       1788.73488595, 1777.86113169, 1755.02420896, 1769.0499978 ,
       1780.42714655, 1747.2232535 , 1761.97924845, 1801.27690944,
       1787.46953807, 1792.1088112 , 1777.33574795, 1742.51198655,
       1773.60094358, 1776.69028699, 1817.70332494, 1743.4594256 ,
       1764.06443306, 1767.88061227, 1749.47710666, 1728.5631137 ,
       1801.76635501, 1754.10197162, 1739.31673476, 1792.27208803,
       1781.52504815, 1734.84611732, 1804.4381221 , 1792.76505484,
       1812.71911775, 1804.28402929, 1763.17878682, 1801.66477324,
       1762.99321838, 1806.52067318, 1760.59077476, 1740.2834294 ,
       1717.82833599, 1753.35784379, 1755.47993248, 1767.63797751,
       1780.64177541, 1742.79130623, 1752.25313872, 1776.11058879,
       1731.62782353, 1748.51826436, 1734.72336271, 1798.98097488,
       1804.57784907, 1724.42837354, 1749.67547833, 1797.84618043,
       1749.65201379, 1747.26169255, 1769.72072418, 1759.17182066,
       1793.07555062, 1756.7042538 , 1739.40849857, 1733.35185974,
       1809.27378866, 1748.54879649, 1764.10364702, 1792.91448548,
       1737.34922366, 1782.84644593, 1736.60792428, 1766.19234771,
       1754.67073991, 1764.66757988, 1729.7945006 , 1765.58192933,
       1750.82470914, 1778.04383633, 1751.78202928, 1767.87491156,
       1743.57641596, 1740.23282146, 1749.21428683, 1757.01115605,
       1777.1786481 , 1764.99592895, 1750.42072668, 1778.137566  ,
       1785.67473163, 1740.2566608 , 1739.75485288, 1772.7566972 ,
       1758.30660863, 1769.05119371, 1727.64593137, 1780.02690911,
       1725.30664798, 1721.96301423, 1759.44854035, 1780.96057769,
       1748.90387169, 1760.2587763 , 1713.41979042, 1781.28390226,
       1763.23020478, 1738.23015662, 1757.75881671, 1791.39903947,
       1781.72084607, 1754.34420404, 1816.9822818 , 1758.40695631,
       1779.10468285, 1758.83601242, 1787.10976925, 1778.26029887,
       1746.75038947, 1766.82795317, 1770.41793269, 1791.58433673,
       1727.66431441, 1789.81306347, 1752.78076296, 1739.57267998,
       1772.17007077, 1757.04032885, 1751.97226788, 1737.33334667,
       1773.98662755, 1784.44151426, 1791.15358283, 1821.30266831,
       1752.23011307, 1784.35729967, 1763.27029939, 1737.34282861,
       1771.12568167, 1765.07503898, 1787.23762892, 1737.15290242,
       1762.37443449, 1764.38679565, 1799.05834715, 1775.56922061,
       1743.86876773, 1736.6048824 , 1747.73043811, 1760.84449639,
       1727.23360273, 1723.99148237, 1736.89583913, 1724.46198269,
       1746.71114931, 1767.38671882, 1748.43575543, 1791.22472804,
       1742.72944923, 1728.84096379, 1794.3539512 , 1749.7720153 ,
       1750.37283591, 1714.89812157, 1783.37799033, 1762.75635078,
       1789.72981348, 1811.2496336 , 1761.49451404, 1740.79059181,
       1760.36689916, 1777.01626826, 1782.18327642, 1759.44217439,
       1736.11007344, 1731.22804765, 1758.74007643, 1750.26249619,
       1786.97094525, 1769.12758396, 1756.28992147, 1800.84546329,
       1767.94444789, 1746.66742308, 1779.9735998 , 1736.87210948,
       1774.27384275, 1736.2271421 , 1783.69459453, 1729.83853798,
       1741.21340536, 1730.41612278, 1734.95114175, 1760.31779952,
       1789.66451182, 1763.14925516, 1763.61493651, 1784.07330746,
       1795.71868514, 1761.64807586, 1739.84360049, 1769.17338945,
       1730.57022567, 1757.49621951, 1773.84309494, 1774.9226859 ,
       1764.99954689, 1741.76909501, 1771.98321636, 1776.35313327,
       1758.60174067, 1788.40828976, 1770.59413135, 1769.43480482,
       1791.447164  , 1782.96212806, 1773.75215143, 1765.17814813,
       1785.66176842, 1755.66367591, 1762.62585141, 1755.54570477,
       1770.46668998, 1776.72857014, 1798.98745166, 1749.66934448,
       1748.5019094 , 1782.995647  , 1765.23644632, 1798.87436913,
       1744.54065344, 1772.26660311, 1764.17784596, 1767.59089219,
       1703.67225146, 1747.04472544, 1740.99291155, 1747.66126288,
       1746.86951606, 1766.83040204, 1729.41008887, 1791.4793147 ,
       1741.32037906, 1760.55023195, 1786.65196002, 1814.24085996,
       1743.63675387, 1757.32930166, 1760.9581601 , 1756.0624456 ,
       1816.74060951, 1775.72862753, 1761.33198792, 1746.11123791,
       1734.34362262, 1715.40506088, 1772.36925849, 1746.87745291,
       1791.4939635 , 1791.41624414, 1755.5313793 , 1766.1130016 ,
       1740.65576189, 1779.00448488, 1771.29660611, 1735.56837045,
       1791.79338088, 1746.13892491, 1785.42869323, 1751.31504904,
       1764.25441803, 1772.66340544, 1784.86700808, 1706.13727451,
       1751.04173228, 1729.442246  , 1730.47846699, 1792.11395892,
       1752.86274714, 1774.75254037, 1779.79505419, 1787.54270976,
       1765.81476986, 1794.37864515, 1785.09190864, 1784.93085077,
       1765.49281815, 1771.09043822, 1732.06964869, 1783.8638127 ,
       1766.39167385, 1775.80661895, 1745.0879306 , 1751.96800747,
       1730.10691685, 1782.75991428, 1796.32403768, 1769.33370959,
       1756.96934881, 1761.54144096, 1777.00983758, 1737.00624468,
       1787.42789386, 1781.51126292, 1777.67116577, 1766.85510966,
       1797.3905675 , 1753.30209099, 1799.38941326, 1771.74082128,
       1787.94227612, 1734.34911478, 1788.56578247, 1763.49368666,
       1794.341478  , 1735.5811151 , 1769.37569391, 1772.50988191,
       1817.99664463, 1785.82528929, 1756.88251399, 1725.018831  ,
       1738.75530796, 1753.08184032, 1756.82177724, 1779.19681032,
       1755.89630116, 1772.36494332, 1760.02515765, 1768.40055178,
       1778.11325764, 1754.97117553, 1762.42518616, 1796.36280624,
       1766.72694864, 1743.52683273, 1749.99472122, 1748.21526078,
       1746.86996147, 1779.6376366 , 1767.73289806, 1762.72983874,
       1783.38357208, 1776.46917699, 1783.33189155, 1769.21231331,
       1756.26412418, 1735.40354574, 1702.03569878, 1793.93426504,
       1763.33913808, 1771.91568327, 1760.38526339, 1754.55333915,
       1771.04465464, 1734.48335832, 1772.00939763, 1789.60111551,
       1809.98838943, 1774.93007528, 1792.00909843, 1767.31829745,
       1724.83170329, 1757.76375694, 1783.06697257, 1760.01216204,
       1740.00027066, 1816.48949754, 1759.34798087, 1756.88141614,
       1755.69514313, 1708.74051168, 1750.65342286, 1719.75183841,
       1743.30492659, 1753.10998954, 1767.25012798, 1745.68741342,
       1745.4502501 , 1771.18276507, 1763.72405602, 1776.01878149,
       1766.72006034, 1762.51439942, 1725.7748284 , 1770.50487457,
       1753.59794589, 1774.63963639, 1789.15854522, 1727.86760332,
       1797.90151272, 1781.48853736, 1794.86183461, 1805.19818485,
       1779.46883802, 1731.5880533 , 1704.05493805, 1724.14470314,
       1790.33790867, 1751.91156967, 1759.56694609, 1776.82347913,
       1761.04006309, 1783.11962548, 1771.23678154, 1743.30863607,
       1762.41482867, 1785.90336491, 1768.03588467, 1745.28416638,
       1801.88704961, 1751.3526504 , 1722.36340467, 1794.33675215,
       1734.23660473, 1775.08997018, 1762.95485202, 1779.40788813,
       1806.35031038, 1767.6737952 , 1767.54553808, 1807.54197234,
       1788.61587426, 1787.11151261, 1761.17354937, 1801.47100277,
       1768.23392085, 1753.32243128, 1733.25548847, 1748.6245615 ,
       1752.03858025, 1759.61843812, 1764.00617792, 1738.96577061,
       1744.04838743, 1775.66661599, 1758.20263344, 1776.04002214,
       1771.05710571, 1738.33222364, 1740.87555077, 1771.11950194,
       1760.7475847 , 1736.00158155, 1807.75850424, 1729.22663299,
       1752.74543416, 1796.28107544, 1757.15502518, 1743.63184084,
       1762.42528681, 1777.62035957, 1776.35598352, 1806.06889829,
       1751.30140848, 1749.49398542, 1764.64146281, 1765.89744147,
       1773.64971027, 1797.75868588, 1741.35685636, 1798.62099228,
       1791.47569365, 1748.13592598, 1729.91585409, 1748.49125712,
       1782.51764468, 1757.03542787, 1797.13155696, 1770.78164538,
       1773.72349243, 1755.72265254, 1788.3155708 , 1793.88964268,
       1783.44927651, 1773.71114779, 1766.32071046, 1751.03321567,
       1778.23791579, 1776.87519285, 1731.26747628, 1768.53072934,
       1777.31088276, 1749.12038169, 1741.30666745, 1751.25809313,
       1765.73121523, 1748.10383332, 1786.77121841, 1764.9205365 ,
       1726.13465236, 1767.86249229, 1794.68300183, 1725.75801896,
       1777.95192232, 1781.07494538, 1769.72485823, 1776.97580542,
       1747.30779287, 1722.52227361, 1787.70516787, 1772.10064043,
       1782.50470209, 1771.76972774, 1761.50982312, 1762.3107473 ,
       1712.82630094, 1786.6775792 , 1756.02895181, 1769.54364557,
       1758.49382803, 1772.32914921, 1755.77776804, 1760.1428466 ,
       1723.23963631, 1765.83681656, 1762.14968726, 1736.26834521,
       1805.04781857, 1767.46026862, 1764.24312419, 1799.18249529,
       1787.37187468, 1731.91541089, 1744.62678981, 1771.05721817,
       1741.96494545, 1772.07445229, 1777.10359002, 1754.01617102,
       1747.93841348, 1751.68488931, 1776.25813349, 1747.24374333,
       1773.24446869, 1755.4323315 , 1774.50127146, 1771.77951569,
       1743.32448133, 1757.52336959, 1725.87423743, 1718.78723338,
       1769.38736559, 1731.74721374, 1785.32704284, 1742.09943028,
       1764.82939037, 1761.98008577, 1798.64139359, 1748.76192986,
       1789.52868827, 1768.18353056, 1780.97108496, 1729.93667591,
       1763.56391789, 1740.06998072, 1749.15256857, 1760.99837785,
       1760.65264708, 1748.23833305, 1752.63189681, 1770.90940027,
       1736.89786922, 1775.13684462, 1765.71580087, 1794.48596816,
       1741.37953821, 1751.0310449 , 1781.55477443, 1770.36650813,
       1750.42598395, 1742.89543131, 1766.09018182, 1738.84630998,
       1790.4337504 , 1758.3471586 , 1770.83919098, 1774.17115394,
       1735.41042656, 1738.40026446, 1783.44536423, 1748.89658416,
       1750.22760807, 1735.9098828 , 1761.13767302, 1754.30076146,
       1729.63097177, 1766.31336387, 1753.6714381 , 1738.22164421,
       1780.18470989, 1741.36547545, 1787.43865647, 1778.05530437,
       1801.17247089, 1755.65479108, 1767.52133369, 1766.53133616,
       1782.38661691, 1762.80270369, 1775.70864578, 1741.83216596,
       1778.52366358, 1769.02221655, 1768.33471635, 1776.99345429,
       1769.67058792, 1799.70880519, 1758.42956098, 1796.47027965,
       1766.94091415, 1775.88822398, 1757.1852195 , 1740.07779447,
       1788.07867383, 1744.32629495, 1770.14032746, 1750.69229179,
       1765.77604853, 1744.13953207, 1770.29543047, 1757.13512013,
       1779.21469934, 1767.16114096, 1767.18254782, 1791.68911165,
       1731.92703648, 1747.58420782, 1721.27376101, 1792.5210276 ,
       1721.45180373, 1769.80363641, 1758.31087204, 1709.5569654 ,
       1728.20105589, 1800.65652355, 1735.81655091, 1804.84286115,
       1763.71555563, 1747.11432786, 1765.74378393, 1777.76386566,
       1785.22754448, 1778.86923472, 1782.71061816, 1773.19255281,
       1750.61692057, 1762.87537667, 1786.34286171, 1740.71071908,
       1758.97318255, 1754.01872129, 1768.22767992, 1758.63567001,
       1731.97019776, 1787.34791268, 1740.63171698, 1709.53343378,
       1735.97532591, 1763.84992703, 1736.870445  , 1751.68105047,
       1732.45361537, 1725.88278387, 1750.61672029, 1778.88763506,
       1772.63931842, 1724.912139  , 1761.48095372, 1761.28645321,
       1785.93792252, 1791.71982323, 1776.7187377 , 1767.41543398,
       1781.07916262, 1781.58944788, 1796.49578349, 1753.9149881 ,
       1762.51475995, 1748.1936224 , 1782.26150334, 1733.47392873,
       1768.39054872, 1731.81677361, 1762.44354462, 1749.57876329,
       1769.12418551, 1741.94499355, 1751.40561189, 1768.54216279,
       1774.89497122, 1727.28497798, 1753.39206517, 1775.38454629,
       1774.01581528, 1731.94310252, 1749.28278841, 1726.27788614,
       1744.86202388, 1757.38427014, 1807.41324695, 1805.59959785,
       1759.36574785, 1767.98745843, 1794.42043821, 1766.50262594,
       1727.9637311 , 1728.90940481, 1762.6777418 , 1761.12013886,
       1771.30517495, 1749.45772031, 1741.97444283, 1789.8670358 ,
       1742.7440031 , 1768.74301151, 1740.73965708, 1762.86368628,
       1777.13730052, 1769.17458872, 1783.6378124 , 1772.50841473,
       1730.1956064 , 1739.23026709, 1749.61350394, 1729.2014917 ,
       1764.47644947, 1780.80764883, 1758.84878274, 1784.22875573,
       1747.94270555, 1782.83957929, 1766.59800786, 1800.6494295 ,
       1736.5854128 , 1796.79772611, 1782.96589254, 1760.66569005,
       1776.69563712, 1795.6467639 , 1762.97432627, 1764.15568513,
       1797.53461427, 1736.43089752, 1796.02182856, 1755.1941784 ,
       1779.40619918, 1765.13961633, 1771.09583228, 1763.32917414,
       1796.57210744, 1758.06525054, 1778.89627515, 1749.14104585,
       1750.09315219, 1735.60381498, 1773.6601944 , 1754.3529189 ,
       1747.50317123, 1793.69449668, 1732.45270455, 1799.36146237,
       1723.28209368, 1776.39018054, 1766.67579075, 1764.63112213,
       1756.68386203, 1787.79419165, 1750.02550989, 1756.56136089,
       1777.52469191, 1747.95046068, 1747.70189243, 1789.93177428,
       1788.55499594, 1749.49611527, 1741.75516602, 1773.55265689,
       1771.31080883, 1753.15601597, 1745.39238252, 1812.58676181,
       1755.31773674, 1757.25900367, 1762.67393148, 1766.48679339,
       1759.22901089, 1786.8571818 , 1775.14133043, 1765.2670731 ,
       1774.90111122, 1782.02182299, 1776.13992514, 1731.28710684,
       1773.582861  , 1775.64006811, 1777.9824221 , 1738.44298562,
       1775.63515893, 1762.84800639, 1817.58585307, 1736.85221432,
       1702.72548891, 1764.59344882, 1720.54126991, 1752.68784313,
       1770.38371337, 1736.20203223, 1724.38041518, 1788.30869325,
       1743.45224263, 1768.38635081, 1778.91601043, 1759.90753424,
       1788.01529032, 1723.47686017, 1800.22045388, 1760.26667499,
       1762.09175059, 1723.35925855, 1751.67182576, 1726.00166595,
       1783.51249093, 1774.8221784 , 1744.08517824, 1781.44226694,
       1780.9247005 , 1777.47704161, 1739.48488869, 1778.38077554,
       1749.7718391 , 1755.32022405, 1761.78804886, 1747.70560107,
       1746.45156755, 1743.27723457, 1787.38112803, 1755.61006492,
       1776.95010289, 1748.09291474, 1804.76984918, 1713.25914091,
       1729.09842752, 1775.60791847, 1747.38547987, 1763.56943551,
       1741.61778565, 1725.88484978, 1732.25463406, 1764.97609432,
       1764.15271926, 1783.30424277, 1764.9879621 , 1772.78632054,
       1738.42824363, 1732.94466054, 1781.11796518, 1756.43659089,
       1764.08911011, 1768.30731051, 1771.5529681 , 1770.36306813,
       1757.24732535, 1779.44858599, 1762.07187933, 1760.32758095,
       1816.54161641, 1758.55103062, 1754.00032139, 1732.01466602,
       1787.43735281, 1741.31207629, 1756.16873579, 1787.33806214,
       1750.14290708, 1780.31665458, 1759.32956214, 1780.08480082,
       1802.13318564, 1792.19686388, 1729.58369612, 1767.01026143,
       1750.06553622, 1775.04883817, 1751.62533022, 1724.90370474,
       1752.23878017, 1768.2287386 , 1758.76110029, 1761.32389192,
       1734.3505906 , 1795.07432826, 1749.5792505 , 1773.18764235,
       1759.46662808, 1766.57197598, 1781.14114783, 1767.00704334,
       1763.04112183, 1767.85071644, 1764.39203384, 1745.49238417,
       1748.6616683 , 1769.19491758, 1789.76171404, 1771.51335502,
       1779.47863689, 1769.20907793, 1779.10344405, 1775.42055974,
       1722.96893167, 1787.76029031, 1755.02331871, 1762.02407343,
       1761.21995355, 1739.06788225, 1758.6301126 , 1783.08225952,
       1771.22584451, 1748.59243292, 1786.9687314 , 1796.41686134,
       1785.67656818, 1794.04955651, 1725.27625371, 1785.10291154,
       1805.40475378, 1763.55524966, 1765.21936378, 1791.46525866,
       1749.11042348, 1754.23543229, 1758.65966896, 1732.92051693,
       1761.96504949, 1803.59096712, 1802.01637353, 1735.88562057])

In [12]:
y

0      2446
1      1723
2      2305
3      1476
4      2213
       ...
995    1106
996    1283
997    1548
998    1902
999    1897
Name: yield, Length: 1000, dtype: int64

In [13]:
from sklearn.metrics import r2_score
r2_score(y_pred,y)

-400.3273207857179

In [38]:
X.head()

   Nitrogen  Phosphorous  potassium  organiccarbon        pH  temp
0       530           41        284       0.366484  7.643970    29
1       398           49        257       0.623520  6.901007    29
2       437           51        280       0.453510  8.685793    35
3       515           38        241       0.553835  8.466538    14
4       330           51        277       0.674652  8.262446    16

In [19]:
lr.predict([[530,41,284,0.366484,7.643970,29]])

array([1786.58541395])

__Model Deployment__

In [14]:
import pickle

pickle.dump(lr,open('model.pkl','wb'))
# Dump this model by the name "model.pkl" in the system HDD ans while doing this
# Write this file using "write bytes" mode.

In [25]:
# Lets now try to load the same model by reading it from the systwm and using it for predictions